@(groups: List[DeviceGroup])

@main(Messages("home.title")) {
    <ol class="breadcrumb">
        <li class="active">@Messages("home.title")</li>
    </ol>
    <script src="@routes.Assets.at("js/home.js")"></script>
    <script src="@routes.Assets.at("js/bootstrap-slider.js")"></script>

    <div class="row">
        <div class="col-md-8">
            <input type="hidden" name="turnon" value="@Messages("home.turnon")"/>
            <input type="hidden" name="turnoff" value="@Messages("home.turnoff")"/>
            <input type="hidden" name="on" value="@Messages("home.on")">
            <input type="hidden" name="off" value="@Messages("home.off")">
            <ul class="list-group">
                @for(group <- groups.sortBy(_.name)) {
                    @if(group.switches.size() != 0 || group.sliders.size() != 0 || group.infos.size() != 0) {
                        <li class="list-group-item disabled">@group.name</li>
                    }
                    @for(switch <- group.switches.sortBy(_.name)) {
                        <li class="list-group-item">
                            <input type="hidden" name="switch" value="@switch.id"/>
                            @switch.name:
                            @if(switch.value) {
                                <span name="switch@switch.id" class="label label-success">@Messages("home.on")</span>
                                <div class="pull-right">
                                    <button name="switchBtn@switch.id" class="label label-info" onclick="switchValue(@switch.id)">@Messages("home.turnoff")</button>
                                </div>
                            } else {
                                <span name="switch@switch.id" class="label label-danger">@Messages("home.off")</span>
                                <div class="pull-right">
                                    <button name="switchBtn@switch.id" class="label label-info" onclick="switchValue(@switch.id)">@Messages("home.turnon")</button>
                                </div>

                            }
                        </li>
                    }

                    @for(info <- group.infos.sortBy(_.name)) {
                        <input type="hidden" name="info" value="@info.id"/>
                        <li class="list-group-item">@{info.name}: <span name="@info.id">@info.value</span> @info.signature</li>
                    }

                    @for(slider <- group.sliders.sortBy(_.name)) {
                        <li class="list-group-item">
                            <input type="hidden" name="slider" value="@slider.id">
                            @slider.name <div name="slider@slider.id"></div>
                        </li>
                    }
                    <br>
                }
            </ul>
        </div>
        <div class="col-md-4">
            <br>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5 align="center">@Messages("home.time.today") <i><span name="today"></span></i></h5>
                    <h3 align="center"><span name="time"></span></h3>
                </div>
            </div>
        </div>
    </div>
}
